# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3



# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
.env
.env.*
myvenv/
logs


# macOS
.DS_Store

# Node.js
node_modules/

# Heroku
*.pot
*.pyc
*~
*.py[cod]
__pycache__/
db.sqlite3
.DS_Store
.idea
.vscode
venv/
*.env
*.mo
*.log
local_settings.py

# PyCharm
.idea/

# VS Code
.vscode/
.history

# Jupyter Notebook
.ipynb_checkpoints
# .gitignore

# Virtual environment
dash_venv/
camster_dashboard/lib/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Django specific
*.log
db.sqlite3
models/yolo/*

/media/clips/*
/media/thumbnails/*
!/media/.gitkeep
